/* Reset default margin and padding for the body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2f3293; /* Main background color */
  color: #ffffff; /* White text color */
}

/* Center the content vertically and horizontally */
body, html {
  /*display: flex;
  height: 100%;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Style for the QR code container */
.container {
  background-color: #ffffff; /* White box background */
  width: 500px;
  max-width: 70%;
  color:#2f3293;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  text-align: center;
  /* max-width: 400px; /* Limit width for readability */
  margin: 0 auto; /* Center horizontally */
}

.table-container {
  background-color: #ffffff; /* White box background */
  width: 500px;
  color:#2f3293;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
  text-align: center;
  /* max-width: 400px; /* Limit width for readability */
  margin: 0 auto; /* Center horizontally */
}

.height-space{
  height:6rem;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 90%;
  padding: 5%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}
input[type="submit"] {
  width: 90%;
  padding: 5%;
  font-size: 16px;
  border-radius: 5px;
  background-color: #2f3293; /* Change to your desired background color */
  color: #fff; /* Text color */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; /* Add a smooth transition effect */
  margin-bottom: 15px;
}

/* Optional: Hover effect */
input[type="submit"]:hover {
  background-color: #0f1273; /* Change to your desired hover background color */
}

.submit-button {
  margin-top: 20px;
}

.message {
  font-size: 18px;
}

/* Media query for responsiveness on small screens */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 22px;
  }

  input[type="text"],
  input[type="email"],
  select {
    font-size: 14px;
  }

  .message {
    font-size: 16px;
  }
}

.horizontal-display {
  display: inline-block;
}
.integer-field {
    max-width: 40%;
  }

/* Add a small margin to the table */
table {
    margin: 10px;
    border-collapse: collapse; /* Collapse table borders */
    width: 100%; /* Ensure the table takes up the full width of its container */
}

/* Style the table header */
thead {
    background-color: #f2f2f2; /* Background color for the header row */
}

/* Style the table header cells (th) */
th {
    border: 1px solid #ddd; /* Add a border to separate columns */
    padding: 8px; /* Add some padding for better readability */
    text-align: left; /* Align text to the left in header cells */
}

/* Style the table body rows (td) */
td {
    border: 1px solid #ddd; /* Add a border to separate columns */
    padding: 8px; /* Add some padding for better readability */
}

/* Style the horizontal line between the header and table body */
thead tr:last-child th {
    border-bottom: 2px solid #000; /* Add a thicker bottom border for the last row in the header */
}
