<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="static/img/logo-fede.PNG" type="image/png">
</head>
<body>
    {% include 'navbar.html' %}
<div class="container">
    {% if message %}
        <div class="message">{{ message }}</div>
    {% endif %}

    <h1>QR Code:</h1>
    <a href="{{link}}">
        <img src="{{ qrcode(link, error_correction='H', fill_color='2f3293', icon_img=url_for('static', filename='img/logo-fede.PNG', _external=True)) }}">
    </a>
    <h3>Numéro de Carte: {{carte.carte_number}}</h3>
    <h3>Année : {{carte.carte_validity_year}}</h3>
    <h3>Nom : {{user.user_last_name}}</h3>
    <h3>Prénom : {{user.user_first_name}}</h3>
    <h3>Etude : {{carte.carte_study_year}}</h3>

</div>
</body>
</html>
