<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
</head>
<body>
  <div class="container">
    <form action="{{ url_for('login') }}" method="POST">
      <h2>Login</h2>
        {% if message %}
          <div class="message">{{ message }}</div>
        {% endif %}
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        {{ form.submit }}
    </form>
  </div>
</body>
</html>
