<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
    {% include 'header.html' %}
  <style>
    body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    min-height: 100vh;       /* Full viewport height */
    margin: 0;               /* Remove default body margin */
  }
  </style>
</head>
<body>
  <div class="container">
    <form action="{{ url_for('login') }}" method="POST">
      <h2>Connexion</h2>
        {% if message %}
          <div class="message">{{ message }}</div>
        {% endif %}
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        {{ form.submit }}
    </form>
  </div>
</body>
</html>
