<!-- Your common head content here -->
<!-- Your common head content here -->
<style>

:root {
    --main-color: #fff;
    --derive-main-color: #ccc;
    --text-color : #2f3293;
    --text-hover-color : #0f1273;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 9;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: #eee;

    border-bottom: 3px solid var(--derive-main-color);

    padding-left: 1vw;
    padding-right: 5vw;
}

.navbar-brand {
    height: 3rem;
    margin: .5rem;
    padding: .5rem;
}
.navbar-brand:hover {
    background-color : var(--derive-main-color);
    border-radius: 0.5em;
}

.navbar-links ul {
    margin-left: 0;
    margin-right: 5vw;
    padding-left: 5vw;
    display: flex;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    display: block;
    font-size: large;
}

.navbar-links li:hover{
    background-color: var(--derive-main-color);
    border-radius: 0.5em;
}

.navbar-camenbert{
    position:absolute;
    top: 1rem;
    left: 80vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
    padding: .3rem;
    align-items: center;
}

.navbar-camenbert:hover{
    background-color: var(--derive-main-color);
    border-radius: 0.5em;
}

.navbar-camenbert .bar {
    height: .5rem;
    width: 90%;
    background-color: var(--text-color);
    border-radius: 10px;
}


@media (max-width: 825px) {
    .navbar-camenbert {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links.active {
        display: flex;
    }
}

</style>


<nav class="navbar">
    <div class="navbar-brand ">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/logo-fede.PNG', _external=True) }}" style="height:100%;"></a>
    </div>
    <a href="#" class="navbar-camenbert">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="navbar-links">
        <ul>
            <li><a href ="{{ url_for('logout') }}">Déconnexion</a></li>
    {% if current_user and current_user ['role'] == 1 %}
            <li><a href ="{{ url_for('admin') }}">Créer une carte</a></li>
            <li><a href ="{{ url_for('view') }}">Voir les Cartes</a></li>
            <li><a href ="{{ url_for('gestion') }}">Gérers les Admins</a></li>
      {% endif %}
    {% if current_user and current_user ['role'] == 2 %}
            <li><a href ="{{ url_for('home') }}">QR Code</a></li>
      {% endif %}
            <li><a href ="{{ url_for('changecredentials') }}">Changer les Identifiants</a></li>
        </ul>
    </div>
</nav>

<script>
    const toggleButton = document.getElementsByClassName("navbar-camenbert")[0]
    const navbarLinks  = document.getElementsByClassName("navbar-links")[0]

    toggleButton.addEventListener('click', () =>{
        navbarLinks.classList.toggle('active')
    })
</script>

<!-- navbar.html
<div class="navbar" style="">
  <div class="navbar-camenbert" onclick="toggleNavbar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div class="navbar-links">
    <li><form action="{{ url_for('logout') }}" method="GET">
      <input type="submit" value="Logout">
    </form></li>
    {% if current_user and current_user ['role'] == 1 %}
      {% if current_page != 'admin' %}
        <li><form action="{{ url_for('admin') }}" method="GET">
          <input type="submit" value="Create Card">
        </form></li>
      {% endif %}
      {% if current_page != 'view' %}
      <li><form action="{{ url_for('view') }}" method="GET">
        <input type="submit" value="View">
      </form></li>
      {% endif %}
      {% if current_page != 'gestion' %}
      <li><form action="{{ url_for('gestion') }}" method="GET">
        <input type="submit" value="Gestion">
      </form></li>
      {% endif %}
    {% endif %}
    {% if current_page != 'changecredentials' %}
      <li><form action="{{ url_for('changecredentials') }}" method="GET">
        <input type="submit" value="Change Credentials">
      </form></li>
    {% endif %}
  </div>
</div>
-->
<div class="height-space"></div>