<!DOCTYPE html>
<html lang="en">
<head>
    <title>View</title>
    {% include 'header.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
    <table>
        <thead>
            <tr>
                <th>Année de validité</th>
                <th>Numéro de carte</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Année d'étude</th>
            </tr>
        </thead>
        <tbody>
            {% for info in infos %}
                <tr>
                    <td>{{ info.validity_year }}</td>
                    <td>{{ info.number }}</td>
                    <td>{{ info.first_name }}</td>
                    <td>{{ info.last_name }}</td>
                    <td>{{ info.etude }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('view') }}">
                            {{ form.csrf_token }}
                            <input type="hidden" name="carte_id" value="{{ info.carte_id }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">Delete Card</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>